doctype 5
html
	head
		title
			block title
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(charset="utf-8") 
		link(rel='stylesheet', href='/css/styles.css')
		link(rel='stylesheet', href='/css/collapsible.css')
		link(rel="stylesheet", href="/lib/bootstrap/css/bootstrap.min.css", media="screen")
		link(rel="stylesheet", href="/lib/codemirror/lib/codemirror.css")
		link(rel="stylesheet", href="/lib/codemirror/addon/merge/merge.css")
		link(rel="stylesheet", href="/lib/jquery.tocify.js/css/jquery.tocify.css")
		link(rel="stylesheet", href="/lib/font-awesome/css/font-awesome.css")
			
		script(src="/lib/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML")
	body
		div.navbar.navbar-inverse.navbar-fixed-top 
			div.container-fluid
				.navbar-header
					button.navbar-toggle(data-toggle="collapse", data-target="#navbar-collapse")
						span.sr-only Toggle Navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="#") Project

				div#navbar-collapse.collapse.navbar-collapse
					ul.nav.navbar-nav
						li: a(href=wiki.mainPage()): i.glyphicon.glyphicon-home
						li: a(href="/categories"): i.glyphicon.glyphicon-tag 
						li: a(href="/all"): i.glyphicon.glyphicon-list 
						li: a(href="/recent"): i.glyphicon.glyphicon-time 
						li: a(href="/upload"): i.glyphicon.glyphicon-upload 
						li: a(href="/help"): i.glyphicon.glyphicon-question-sign 

					ul.nav.navbar-nav
						li: p.navbar-text | 

					ul.nav.navbar-nav
						li 
							a(href="raw"): i.fa.fa-code
						li 
							a(href="print"): i.fa.fa-print
						li.dropdown
							a(href="#",data-toggle="dropdown").btn.dropdown-toggle 
								i.fa.fa-share 
								b.caret
							ul.dropdown-menu(role="menu")
								li: a(href="export/pdf") PDF
								li: a(href="export/html") HTML
								li: a(href="export/docx") Word (.docx)
								li: a(href="export/latex") LaTeX
								li: a(href="export/markdown") Markdown
								li: a(href="export/rst") ReStructuredText
								li.dropdown-submenu
									a(href="export/slidy") Slideshow
									ul.dropdown-menu
										li: a(href="export/slidy") Slidy
										li: a(href="export/slideous") Slideous
										li: a(href="export/s5") S5
										li: a(href="export/dzslides") DZSlides
								li.dropdown-submenu
									a(href="#") Other
									ul.dropdown-menu
										li: a(href="export/json") JSON
										li: a(href="export/native") Native										

						li 
							a(href=""): i.fa.fa-times
						li 
							a(href=""): i.fa.fa-ellipsis-h

					form.navbar-form.navbar-right(role="search", action="/go", method="post")
						.form-group
							.input-group(style="width:300px")
								input#search(type="text", name="search" placeholder="Search", autocomplete="off").form-control
								.input-group-btn
									button.btn.btn-default(name="action", value="search", type="submit") 
										i.glyphicon.glyphicon-search
									button.btn.btn-default(name="action", value="go", type="submit")
										i.glyphicon.glyphicon-chevron-right

					ul.nav.navbar-nav.navbar-right
						li: p.navbar-text
							if user 
								a(href="#") #{user.email}
							else 
								a(href="/login") Login


		div.container-fluid
			div.row-fluid
				div.col-md-12
					block content
			div.row-fluid
				div.col-md-12
					hr
					footer 
						ul.list-inline
							li: a(href=wiki.mainPage()) Main Page
							li: a(href="/categories") Categories 
							li: a(href="/all") Index 
							li: a(href="/recent") Recent 
							li: a(href="/upload") Upload 
							li: a(href="/help") Help 
							li &copy; 2014

		script(src="/js/jquery.js")
		script(src="/js/underscore-min.js")
		script(src="/lib/bootstrap/js/bootstrap.min.js")
		script(src="/js/collapsible.js")
		script(src="/lib/diff_match_patch/diff_match_patch.js")
		script(src="/lib/codemirror/codemirror-compressed.js")
		script(src="/js/codemirror-ext.js")
		script(src="/lib/InlineAttachment/src/inline-attach.js")
		script(src="/lib/InlineAttachment/src/codemirror.inline-attach.js")
		script(src="/lib/jquery-ui-custom/jquery-ui-1.10.3.custom.js")
		script(src="/lib/jquery.tocify.js/js/jquery.tocify.js")
		//- script(src="/lib/typeahead.js/typeahead.bundle.min.js")
		script(src="/lib/typeahead.js/bloodhound.js")
		script(src="/lib/bootstrap-3-typeahead/bootstrap3-typeahead.js")

		script(src="/js/script.js")
		
		block scripts