doctype 5
html
	head
		title= title
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet', href='/css/styles.css')
		link(rel="stylesheet", href="/css/bootstrap.min.css", media="screen")
	body

		block content

		hr
		footer 
			p &copy; 2013

		script(src="/js/jquery.js")
		script(src="/js/bootstrap.min.js")