extends layout


block title
	| Upload

block content

	h1 Upload

	form(action="/upload",enctype="multipart/form-data",method="post").form
		div.panel.panel-default
			div.panel-body	

				div.form-group
					label(for="upload").control-label File:
					input(type="file",name="upload",multiple="multiple").form-control
				
				div.form-group			
					label(for="title").control-label File name (optional):
					input(type="text",name="title").form-control
			
		
			div.panel-footer
				input(type="submit",value="Upload").btn.btn-primary