
body {
	padding-top: 60px;
	padding-bottom: 40px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
}

#toc {
	/*position: fixed;*/
}

.CodeMirror-fullscreen
{
	z-index:1500 !important;
}


/*figure 
{
	border: solid 1px #e1e1e8;
	border-radius: 5px;
	background-color: #f7f7f9;
	padding: 5px;
	float:right;
}

figure img
{
	border: solid 1px #e1e1e8;
	border-radius: 5px;
	background-color: #ffffff;
}*/