extends ../index
include mixins.jade

block title
	| Edit: #{metadata.title}

block content
	mixin tabs('edit')
	mixin header(metadata.title,metadata.parents)

	form(action="edit", method="post")
		p.alert.alert-info 
			strong Edit page text 
			| Edit the body of the page using Pandoc markdown

		div.panel.panel-default
			.panel-body

				.form-group
					label(for="text") Page content
					textarea#text(name="text",rows=12).form-control
						!{content}

			.panel-footer
				.form-group
					textarea#message(name="message", rows=2, placeholder="Commit Message").form-control
				input(type="submit").btn.btn-primary Save

block scripts
	script(type="text/javascript")
		$(function() {
			var editor = CodeMirror.fromTextArea(document.getElementById('text'),{
					mode: 'gfm'
				})
		})