extends ../index
include mixins.jade

block content
	mixin tabs('log')
	mixin header(title,parents)

	p.alert.alert-info 
		strong Revision history

	table.table
		thead
			tr
				th ID
				th Message
				th Author
				th Date
		tbody
			for rev in revisions
				tr 
					td: a(href=wiki.url(page,'view',rev.id))=rev.id
					td= rev.message
					td= rev.author.toString()
					td= rev.time
