extends ../index
include mixins.jade

block content
	div.container-fluid(style="padding: 0px")
		div.row-fluid
			div.col-md-2

				div#toc

			div#content.col-md-10

				mixin tabs('view')
				mixin header(title,parents)

				if version
					div.alert.alert-info
						| Viewing version 
						a(href="#")= version
						|  of this page

				!{content}